 /* Nav Bar */
                
 nav{
    display: flex;
    width: 100%;
    height: 55px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #38A5F9;
}
#logo-nav{
    width: 143px;
    height: 72px;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
}
#logo-nav:active{
    filter: brightness(3);
}
#list-nav{
    display: flex;
    align-items: center;
}
#list1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 20px;
}
#list2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 20px;
    margin-left: 100px;
}
#home-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'ABeeZee', sans-serif;
    text-decoration: none;
    color: #38A5F9;
    margin-right: 10px;
    width: 90px;
    
}
#home-nav:active{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background: #38A5F9;
    color: white;
}
#service-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'ABeeZee', sans-serif;
    text-decoration: none;
    color: #38A5F9;
    margin-right: 10px;
    width: 90px;
    
}
#service-nav:active{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background: #38A5F9;
    color: white;
}
#aboutus-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'ABeeZee', sans-serif;
    text-decoration: none;
    color: #38A5F9;
    margin-right: 10px;
    width: 90px;
    
}
#aboutus-nav:active{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background: #38A5F9;
    color: white;
}
#contactus-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'ABeeZee', sans-serif;
    text-decoration: none;
    color: #38A5F9;
    margin-right: 10px;
    width: 90px;
    
}
#contactus-nav:active{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background: #38A5F9;
    color: white;
}
#Login-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'ABeeZee', sans-serif;
    text-decoration: none;
    color: #38A5F9;
    margin-right: 10px;
    width: 90px;
    
}
#Login-nav:active{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background: #38A5F9;
    color: white;
}
#Signup-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'ABeeZee', sans-serif;
    text-decoration: none;
    color: #38A5F9;
    margin-right: 10px;
    width: 90px;
    
}
#Signup-nav:active{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background: #38A5F9;
    color: white;
}

