@import url(https://fonts.googleapis.com/css?family=Oswald:400);
/* variables */
.button {
  position: relative;
  display: block;
  width: 230px;
  height: 42px;
  color: #30598C;
  font-size: 21px;
  line-height: 200%;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  margin: 20px 0px 20px 0px;
}
.button span {
  position: absolute;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  z-index: 1;
}
.button .bborder {
  border: 1px solid #30598C;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #30598c3b;
}
.button:hover .bborder {
  background-color: #30598c;
}
.button .btop, .button .bbottom, .button .bleft, .button .bright {
  background-color:#30598C;
  height: 1px;
  width: 0;
}
.button .bleft, .button .bright {
  height: 0;
  width: 1px;
}
.button .btop {
  top: -5px;
  left: -15px;
}
.button .bbottom {
  bottom: -5px;
  right: -15px;
}
.button .bleft {
  top: -15px;
  right: -5px;
}
.button .bright {
  bottom: -15px;
  left: -5px;
}
.button:hover {
  color:  #fff ;
}
.button:hover .bborder {
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
}
.button:hover .btop, .button:hover .bbottom {
  width: 230px;
}
.button:hover .bleft, .button:hover .bright {
  height: 40px;
}
.button:hover .btop {
  left: -5px;
}
.button:hover .bbottom {
  right: -5px;
}
.button:hover .bleft {
  top: -5px;
}
.button:hover .bright {
  bottom: -5px;
}
.button .btext {
  position: relative;
  letter-spacing: 0.03em;
}

@media only screen and (max-width: 992px) {

          @import url(https://fonts.googleapis.com/css?family=Oswald:400);
        /* variables */
        .button {
          position: relative;
          display: block;
          width: 170px;
          height: 37px;
          color: #30598C;
          font-size: 21px;
          line-height: 190%;
          text-transform: uppercase;
          text-decoration: none;
          text-align: center;
          z-index: 1;
          margin: 20px 0px 20px 0px;
        }
        .button span {
          position: absolute;
          transition-property: all;
          transition-duration: 0.2s;
          transition-timing-function: ease-out;
          z-index: 1;
        }
        .button .bborder {
          border: 1px solid #30598C;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #30598c3b;
        }
        .button:hover .bborder {
          background-color: #30598c;
        }
        .button .btop, .button .bbottom, .button .bleft, .button .bright {
          background-color:#30598C;
          height: 1px;
          width: 0;
        }
        .button .bleft, .button .bright {
          height: 0;
          width: 1px;
        }
        .button .btop {
          top: -5px;
          left: -15px;
        }
        .button .bbottom {
          bottom: -5px;
          right: -15px;
        }
        .button .bleft {
          top: -15px;
          right: -5px;
        }
        .button .bright {
          bottom: -15px;
          left: -5px;
        }
        .button:hover {
          color:  #fff ;
        }
        .button:hover .bborder {
          top: -5px;
          bottom: -5px;
          left: -5px;
          right: -5px;
        }
        .button:hover .btop, .button:hover .bbottom {
          width: 170px;
        }
        .button:hover .bleft, .button:hover .bright {
          height: 35px;
        }
        .button:hover .btop {
          left: -5px;
        }
        .button:hover .bbottom {
          right: -5px;
        }
        .button:hover .bleft {
          top: -5px;
        }
        .button:hover .bright {
          bottom: -5px;
        }
        .button .btext {
          position: relative;
          letter-spacing: 0.03em;
        }


}