.container {
    width: 100%;
    margin: 30px auto;
    /* background-color: #ddd; */
    display: grid;
    /* width: 90%; */
    grid-template-rows: repeat(auto-fill, minmax(275px, min-content));
    grid-template-columns: repeat(auto-fill, 100px);
    /* grid-template-columns: repeat(auto-fit, 100px); */
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-auto-rows: 150px;
  }


/* css per cards */
.row {
    width: 100%;
    position: relative;
    display: flex;
    justify-content:space-between;
    padding-left: 0px;
    padding-right: 0px;
    /* float: center; */
}


.row .card {
    position: relative;
    text-align: center;
    align-content: space-around;
    border-radius: 2px;
    margin: 40px 70px 40px 90px ;
    width: 300px;
}

.row .card .icon, .row .card span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(2, 136, 209);
    transition: 0.3s;
font-family: 'Raleway', sans-serif;    
    /* z-index: 1; */
}

.row .card .icon {
    background: rgb(2, 136, 209);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.row .card .icon span{
  text-align:center;
  vertical-align: middle;
  color:white;
  margin-bottom: 25px;
  border-radius: 4px;

  
}


.row .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.3s;
    color: #fff;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.3s;
    color: #fff;
}

.row .card .face {
    width: 300px;
    height: 151px;
    transition: 0.2s;
}


.row .card .face.face1 {
    position: relative;
    background: rgb(2, 136, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.row .card .face.face1 .icon span{
    /* padding-left: 30px; */
    padding-top:40px;
    font-size: 30px;
font-family: 'Raleway', sans-serif;    
    font-weight: 50;
}



.row .card:hover .face.face1{
    background: rgb(2, 136, 209);
    transform: translateY(0px); 
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;   
}
.row .card:hover .icon span{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;  
}

.row .card:hover .closeButton{
    opacity: 1;
}

.row .card .face.face1 .content {
    opacity: 1;
    transition: 0.2s;
}

.row .card .face.face1 .content h1{
    /* margin-left: 25px; */
    margin-top: 35px;
    margin-bottom: 0px;
}

.row .card:hover .face.face1 .content {
    opacity: 1;
}

.row .card .face.face1 .content i{
    max-width: 100px;
}

.row .card .face.face2 {
    height: 149px;
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-50px);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.row .card:hover .face.face2{
    transform: translateY(0px);
    height: 149px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.row .card .face.face2 .content{
    height: 110px;
    width: 90%;
}
.row .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: left;
    color: #414141;
}

.row .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.row a {
    text-decoration: none;
    color: #414141;
}


@media all and (max-width: 1150px) {
    .card {
      padding: 100% auto;
    }
  }




