.closeButton {
    height: 30px;
    width: 30px;
    position: relative;
    box-sizing: border-box;
    line-height: 20px;
    /* display: inline-block; */
    float: right;
    top: 15px;
    right: 15px;
    opacity: 0;
    transition: 0.3s;
    /* z-index: 2; */
  }
  .closeButton:before, .closeButton:after {
    transform: rotate(-45deg);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.5px;
    margin-left: -12.5px;
    display: block;
    height: 3px;
    width: 25px;
    background-color: white;
    transition: all 0.1s ease-out;
  }
  .closeButton:after {
    transform: rotate(-135deg);
  }
  .closeButton:hover:before, .closeButton:hover:after {
    transform: rotate(0deg);
  }