
#LoginBtn_{
    position: relative;
    display: block;
    width: 170px;
    height: 32px;
    color: white;
    font-size: 21px;
    line-height: 200%;
    /* padding-top: 0px; */
    text-transform: uppercase;
    text-decoration: none;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    box-sizing: border-box;
    margin: 0px;
  
  }
  
  #LoginBtn_.span{
    position: absolute;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    z-index: 1;
  }
  
  #LoginBtn_ .border {
    border: 1px solid transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
  }
  #LoginBtn_ .top, #LoginBtn_ .left, #LoginBtn_ .right,#LoginBtn_ .bottom {
    background-color: #0288D1;
    height: 1px;
    width: 0;
  }
  
  #LoginBtn_:hover {
    color: white;
    }
  
  
  #LoginBtn_:hover .border {
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background-color: #0288D1;
  
  }
  
  #LoginBtn_:hover .text{
    color:#0288D1;
  }
  
  
  #LoginBtn_ .left, #LoginBtn_ .right {
    height: 0;
    width: 1px;
  }
  #LoginBtn_ .top {
    top: -5px;
    left: -15px;
  }
  #LoginBtn_ .bottom {
    bottom: -5px;
    right: -15px;
  }
  #LoginBtn_ .left {
    top: -15px;
    right: -5px;
  }
  #LoginBtn_ .right {
    bottom: -15px;
    left: -5px;
  }
  #LoginBtn_:hover {
      color: #0288D1;
      }
  
  
  #LoginBtn_:hover .border {
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background-color: #0288D1;
  
  }
  
  #LoginBtn_:hover .left, #LoginBtn_:hover .right {
    height: 41px;
  }
  #LoginBtn_:hover .top {
    left: -5px;
    width: 10px;
  
  }
  #LoginBtn_:hover .bottom {
    right: -5px;
    width: 120px;
  
  }
  #LoginBtn_:hover .left {
    top: -5px;
  }
  #LoginBtn_:hover .right {
    bottom: -5px;
  }
  #LoginBtn_ .text {
    position: relative;
    display: inline;
    letter-spacing: 0.03em;
    display: table-cell;
    text-align: center;
    width: 170px;
    line-height: 32px;
    color: #0288D1;
  }
  #LoginBtn_:hover .text{
    color:white;
  }
  
  
  
  #SignUpFromLogIn{
    position: relative;
    display: block;
    width: 130px;
    height: 32px;
    color: white;
    font-size: 21px;
    line-height: 200%;
    text-transform: uppercase;
    text-decoration: none;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    box-sizing: border-box;
  }
  
  
  
  
  /* .button .text:hover{
      color:#0288D1
  } */
  