/* Homepage */

body{
    overflow-y:hidden;
}
#Homepage{
    display: block;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    background-image: url(/UniMed/firebaselogin/image/mal.png);
    background-color: #bde3f7;
    background-size: cover;
    width: 100%;
    height:754px;
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    opacity: 0.7;
    overflow: hidden;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y:auto;
    z-index: -10;
    /* padding-top: 60px; */
}
#whydiv{
    width: 450px;
    height: 250px;
    background-color: rgba(135, 207, 235, 0.707);
    border: white 1px solid;
    border-radius: 10px;
    margin-right: 50px;
    margin-bottom: 300px;
    cursor: default;
}
#whyheading{
    color: white;
    padding-left: 20px;
}
#whytext{
    color: white;
    padding-left: 30px;
    font-size: 115%;
}

