
                body{   
                    /* height: 1000px; */
                    display: flex;
                    position: sticky;
                    flex-direction: column;
                    align-items: center; 
                    background-color: white;
                }
                