.form {
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
  }
  .form h1 {
    padding-bottom: 10px;
    margin-bottom: 25px;
    /* font-weight: 100; */
    text-align: center;
    color: #0288D1;
    border-bottom: 0px;
  }
  .form .row {
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
  }
  .form input[type=text], .form input[type=password], .form input[type=email], .form input[type=number], .form textarea, .form input[type=date]  {
    width: 260px;
    height: 40px;
    padding: 10px 10px 10px 95px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 2px;
    transition: all 0.1s cubic-bezier(1, 0.1, 0, 0.9);
    background-color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:300;
    color: #01579B;
  }
  .form textarea {
    height: auto;
    min-height: 200px;
    padding: 50px 10px 10px 10px;
  }
  .form input[type=date] {
    width: 260px; 
    user-select: none;
  }
  /* .form input:active{} */

  .form input[type=text] + label, .form input[type=password] + label, .form textarea + label, .form input[type=email] + label,
   .form input[type=number] + label, .form input[type=date] + label{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    /* font-weight: bold; */
    width: 90px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: white;
    background: #0288D1;
    border-radius: 2px 0 0 3px;
    transition: all 0.1s cubic-bezier(1, 0.1, 0, 0.9);
    transform: translateZ(0) translateX(0);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:300;
  }
  
  .form textarea + label {
    width: 100%;
    border-radius: 2px 3px 0 0;
  }
  .form input[type=text]:hover , .form input[type=password]:hover ,
  .form input[type=email]:hover ,
  .form input[type=number]:hover , .form input[type=date]:hover   {
    padding-left: 10px;
  }
  .form textarea:hover  {
    padding-top: 10px;
  }
  .form input[type=text]:hover  + label, .form input[type=password]:hover  + label,
  .form input[type=email]:hover  + label,  .form input[type=number]:hover  + label, .form input[type=date]:hover + label {
    transform: translateZ(0) translateX(-100%);
  }
  .form textarea:hover  + label {
    transform: translateZ(0) translateY(-100%);
  }

  label{
    pointer-events: none;
  }
  .form input[type=text]:focus, .form input[type=password]:focus,
  .form input[type=email]:focus,
  .form input[type=number]:focus  {
    padding-left: 10px;
  }
  .form textarea:focus {
    padding-top: 10px;
  }
  .form input[type=text]:focus + label, .form input[type=password]:focus + label,
  .form input[type=email]:focus + label,  .form input[type=number]:focus + label {
    transform: translateZ(0) translateX(-100%);
  }
  .form textarea:focus + label {
    transform: translateZ(0) translateY(-100%);
  }

 

  .form input[type=checkbox], .form input[type=radio] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
  }
  .form input[type=radio] + label {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background: #ccc;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  }
  .form input[type=radio] + label:before {
    content: "";
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 100%;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9) 0.1s;
    transform: translateZ(0) translate(-50%, -50%) scale(0);
  }
  .form input[type=radio]:checked + label {
    background: #0288D1;
  }
  .form input[type=radio]:checked + label:before {
    transform: translateZ(0) translate(-50%, -50%) scale(1);
  }
  .form input[type=checkbox] + label {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background: #ccc;
    width: 60px;
    height: 30px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  }
  .form input[type=checkbox] + label:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0288D1;
    border-radius: 100px;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9) 0.1s;
    transform: translateZ(0) scale(0);
  }
  .form input[type=checkbox] + label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    height: 26px;
    width: 26px;
    background: white;
    border-radius: 100%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
    transform: translateZ(0) translateX(0);
  }
  .form input[type=checkbox]:checked + label {
    background: #0288D1;
  }
  .form input[type=checkbox]:checked + label:after {
    left: calc(100% - 28px);
    transform: translateZ(0);
  }
  .form button :not(#button, span){
    position: relative;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 12px;
    /* font-weight: bold; */
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: white;
    border: none;
    background: #0288D1;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
    transform: translateZ(0) translateX(0);
    z-index: 2;
  }
  .form button:before :not(#button, span){
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #01579B;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
    transform: translateZ(0) scale(0);
    z-index: -1;
  }
  .form button:hover:before, .form button:hover :before {
    transform: scale(1);
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  }


  