@media only screen and (max-width: 600px) {
    #Homepage{
        background-image: url(/image/Man\ at\ the\ doctors\ office.jpg);
        width: 100%;
        height: 250px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
    }
    #WhyP-HP{
        
        height: 100px;
        position: absolute;
        margin: 0px 0px 0px 50px;
    }
    #Why-HP{
        width: 150px;
        height: 90px;
        padding-left: 5px;
        background-color: #38a5f99a;
        border: 1px rgba(77, 184, 219, 0.582) solid;
        float: right;
        margin-top: 130px;
        margin-right: 100px;
    }
    #Why-Title{
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        
    }
    #Why-Text{
        margin-left: 25px;
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 7px;
        width: 500px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #Homepage{
        background-image: url(/image/Man\ at\ the\ doctors\ office.jpg);
        width: 100%;
        height: 450px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
    }
    #WhyP-HP{
        
        height: 100px;
        position: absolute;
        margin: 0px 0px 0px 50px;
    }
    #Why-HP{
        width: 200px;
        height: 130px;
        padding-left: 5px;
        background-color: #38a5f99a;
        border: 1px rgba(77, 184, 219, 0.582) solid;
        float: right;
        margin-top: 190px;
        margin-right: 100px;
    }
    #Why-Title{
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
    }
    #Why-Text{
        margin-left: 25px;
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        width: 500px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
#Homepage{
    background-image: url(/image/Man\ at\ the\ doctors\ office.jpg);
    width: 100%;
    height: 550px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
#WhyP-HP{
    width: 100%;
    height: 700px;
    position: absolute;
    margin: 0px 0px 0px 50px;
}
#Why-HP{
    width: 300px;
    height: 200px;
    padding-left: 20px;
    background-color: #38a5f99a;
    border: 1px rgba(77, 184, 219, 0.582) solid;
    float: right;
    margin-top: 250px;
    margin-right: 100px;
}
#Why-Title{
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
}
#Why-Text{
    margin-left: 25px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    width: 500px;
}
}
@media only screen and (min-width: 768px) {
    #Homepage{
        background-image: url(/image/Man\ at\ the\ doctors\ office.jpg);
        width: 100%;
        height: 450px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
    }
    
#WhyP-HP{
    width: 100%;
    height: 700px;
    position: absolute;
    margin: 0px 0px 0px 50px;
}
#Why-HP{
    width: 280px;
    height: 150px;
    padding-left: 20px;
    background-color: #38a5f99a;
    border: 1px rgba(77, 184, 219, 0.582) solid;
    float: right;
    margin-top: 270px;
    margin-right: 100px;
}
#Why-Title{
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
}
#Why-Text{
    margin-left: 25px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    width: 500px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #Homepage{
        background-image: url(/image/Man\ at\ the\ doctors\ office.jpg);
        width: 100%;
        height: 600px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    #Why-Title{
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 100%;
    }
    
#Why-HP{
    width: 300px;
    height: 200px;
    padding-left: 20px;
    background-color: #38a5f99a;
    border: 1px rgba(77, 184, 219, 0.582) solid;
    float: right;
    margin-top: 250px;
    margin-right: 100px;
}
#Why-Title{
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
}
#Why-Text{
    margin-left: 25px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    width: 500px;
}
}
@media only screen and (min-width: 1100px) {
    #Homepage{
        background-image: url(/image/Man\ at\ the\ doctors\ office.jpg);
        width: 100%;
        height: 700px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
    }
    #Why-HP{
        width: 420px;
        height: 250px;
        padding-left: 20px;
        background-color: #38a5f99a;
        border: 1px rgba(77, 184, 219, 0.582) solid;
        float: right;
        margin-top: 350px;
        margin-right: 120px;
    }
    #Why-Title{
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* Homepage */

#Homepage{
    background-image: url(/image/Man\ at\ the\ doctors\ office.jpg);
    width: 100%;
    height: 750px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
#WhyP-HP{
    width: 100%;
    height: 700px;
    position: absolute;
    margin: 0px 0px 0px 50px;
}
#Why-HP{
    width: 420px;
    height: 250px;
    padding-left: 20px;
    background-color: #38a5f99a;
    border: 1px rgba(77, 184, 219, 0.582) solid;
    float: right;
    margin-top: 350px;
    margin-right: 120px;
}
#Why-Title{
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
}
#Why-Text{
    margin-left: 25px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    width: 500px;
}
}
@media only screen and (min-width: 1400px) {
    #Homepage{
        background-image: url(/image/Man\ at\ the\ doctors\ office.jpg);
        width: 100%;
        height: 940px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
    }
    
#WhyP-HP{
    width: 100%;
    height: 700px;
    position: absolute;
    margin: 0px 0px 0px 50px;
}
#Why-HP{
    width: 420px;
    height: 250px;
    padding-left: 20px;
    background-color: #38a5f99a;
    border: 1px rgba(77, 184, 219, 0.582) solid;
    float: right;
    margin-top: 350px;
    margin-right: 120px;
}
#Why-Title{
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
}
#Why-Text{
    margin-left: 25px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    width: 500px;
}
}