/* Homepage */

#Homepage{
    background-image: url(/image/Man\ at\ the\ doctors\ office.jpg);
    width: 100%;
    height: 940px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
#WhyP-HP{
    width: 100%;
    height: 700px;
    position: absolute;
    margin: 0px 0px 0px 50px;
}
#Why-HP{
    width: 420px;
    height: 250px;
    padding-left: 20px;
    background-color: #38a5f99a;
    border: 1px rgba(77, 184, 219, 0.582) solid;
    float: right;
    margin-top: 200px;
    margin-right: 120px;
}
#Why-Title{
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    
}
#Why-Text{
    margin-left: 25px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    width: 500px;
}