/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {


    
    /* Sign up */
    .SignupBox{
        display: none;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        backdrop-filter: blur(1px);
    }
    #Signup-Form{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        width: 350px;
        background: rgba(56, 165, 249, 0.58);
        border: 0px #85aad6 solid;
        border-radius: 4px;
    }               

    #exit-Signup{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        justify-items: flex-start;
        width: 18px;
        font-size: 20px;
        height: 20px;
        color: white;
        margin-top: 15px;

        margin-right: 15px;
        cursor: pointer;
        outline: none;
    }
    #exit-Signup:active{
        color: red;
    }               

    #Signup-Title{
        color: white;

        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 5px;
        cursor: default;
    }               


    #Login-help{
        /* background */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40px;
        width: 300px;
        color: #30598C;
        background: white;
        border: 1px solid #30598C;
        box-sizing: border-box;
        border-radius: 10px;
        margin-top: 30px;
        /* shkronja */
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px; 
    
    }
    #Login-Signup{
        padding-left: 10px;
        cursor: pointer;
    }
    #Login-Signup:active{
        color: rgb(196, 39, 186);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
                    /* Sign up */
                    .SignupBox{
                        display: none;
                        position: fixed; /* Stay in place */
                        z-index: 1; /* Sit on top */
                        padding-top: 100px; /* Location of the box */
                        left: 0;
                        top: 0;
                        width: 100%; /* Full width */
                        height: 100%; /* Full height */
                        overflow: auto; /* Enable scroll if needed */
                        backdrop-filter: blur(1px);
                    }
                    #Signup-Form{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: max-content;
                        width: 400px;
                        background: rgba(56, 165, 249, 0.58);
                        border: 0px #85aad6 solid;
                        border-radius: 4px;
                    }               
    
                    #exit-Signup{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-self: flex-end;
                        justify-items: flex-start;
                        width: 18px;
                        font-size: 20px;
                        height: 20px;
                        color: white;
                        margin-top: 15px;
                
                        margin-right: 15px;
                        cursor: pointer;
                        outline: none;
                    }
                    #exit-Signup:active{
                        color: red;
                    }               
    
                    #Signup-Title{
                        color: white;
                
                        font-style: normal;
                        font-weight: normal;
                        font-size: 45px;
                        line-height: 5px;
                        cursor: default;
                    }               
    
    
                    #Login-help{
                        /* background */
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        height: 45px;
                        width: 350px;
                        color: #30598C;
                        background: white;
                        border: 1px solid #30598C;
                        box-sizing: border-box;
                        border-radius: 10px;
                        margin-top: 30px;
                        /* shkronja */
                        font-family: sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 17px; 
                    
                    }
                    #Login-Signup{
                        padding-left: 10px;
                        cursor: pointer;
                    }
                    #Login-Signup:active{
                        color: rgb(196, 39, 186);
                    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
                    /* Sign up */
                    .SignupBox{
                        display: none;
                        position: fixed; /* Stay in place */
                        z-index: 1; /* Sit on top */
                        padding-top: 100px; /* Location of the box */
                        left: 0;
                        top: 0;
                        width: 100%; /* Full width */
                        height: 100%; /* Full height */
                        overflow: auto; /* Enable scroll if needed */
                        backdrop-filter: blur(1px);
                    }
                    #Signup-Form{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: max-content;
                        width: 450px;
                        background: rgba(56, 165, 249, 0.58);
                        border: 0px #85aad6 solid;
                        border-radius: 4px;
                    }               
    
                    #exit-Signup{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-self: flex-end;
                        justify-items: flex-start;
                        width: 18px;
                        font-size: 20px;
                        height: 20px;
                        color: white;
                        margin-top: 15px;
                
                        margin-right: 15px;
                        cursor: pointer;
                        outline: none;
                    }
                    #exit-Signup:active{
                        color: red;
                    }               
    
                    #Signup-Title{
                        color: white;
                
                        font-style: normal;
                        font-weight: normal;
                        font-size: 40px;
                        line-height: 5px;
                        cursor: default;
                    }               
    
    
                    #Login-help{
                        /* background */
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        height: 40px;
                        width: 350px;
                        color: #30598C;
                        background: white;
                        border: 1px solid #30598C;
                        box-sizing: border-box;
                        border-radius: 10px;
                        margin-top: 30px;
                        /* shkronja */
                        font-family: sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 17px; 
                    
                    }
                    #Login-Signup{
                        padding-left: 10px;
                        cursor: pointer;
                    }
                    #Login-Signup:active{
                        color: rgb(196, 39, 186);
                    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


                    /* Sign up */
                .SignupBox{
                    display: none;
                    position: fixed; /* Stay in place */
                    z-index: 1; /* Sit on top */
                    padding-top: 100px; /* Location of the box */
                    left: 0;
                    top: 0;
                    width: 100%; /* Full width */
                    height: 100%; /* Full height */
                    overflow: auto; /* Enable scroll if needed */
                    backdrop-filter: blur(1px);
                }
                #Signup-Form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: max-content;
                    width: 600px;
                    background: rgba(56, 165, 249, 0.58);
                    border: 0px #85aad6 solid;
                    border-radius: 4px;
                }               

                #exit-Signup{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-self: flex-end;
                    justify-items: flex-start;
                    width: 18px;
                    font-size: 20px;
                    height: 20px;
                    color: white;
                    margin-top: 15px;
            
                    margin-right: 15px;
                    cursor: pointer;
                    outline: none;
                }
                #exit-Signup:active{
                    color: red;
                }               

                #Signup-Title{
                    color: white;
            
                    font-style: normal;
                    font-weight: normal;
                    font-size: 60px;
                    line-height: 5px;
                    cursor: default;
                }               


                #Login-help{
                    /* background */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 50px;
                    width: 450px;
                    color: #30598C;
                    background: white;
                    border: 1px solid #30598C;
                    box-sizing: border-box;
                    border-radius: 10px;
                    margin-top: 30px;
                    /* shkronja */
                    font-family: sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px; 
                
                }
                #Login-Signup{
                    padding-left: 10px;
                    cursor: pointer;
                }
                #Login-Signup:active{
                    color: rgb(196, 39, 186);
                }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}